<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.runWith.mapper.RecordMapper">
    <select id="findAllRecord" resultType="com.example.runWith.domain.RecordDomain">
        SELECT * FROM record
    </select>

    <select id="findRecord" resultType="com.example.runWith.domain.RecordDomain">
        SELECT * FROM record WHERE id=#{id} AND day=#{day}
    </select>

    <insert id="addRecord" parameterType="com.example.runWith.domain.RecordDomain">
        INSERT INTO record (id, day, count) VALUES (#{newRecord.id}, #{newRecord.day}, #{newRecord.count})
    </insert>

    <update id="updateRecord" parameterType="com.example.runWith.domain.RecordDomain">
        UPDATE record SET count=#{newRecord.count} WHERE id=#{newRecord.id} AND day=#{newRecord.day}
    </update>
</mapper>