<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.runWith.mapper.TokenMapper">
    <select id="countToken" resultType="int">
        SELECT COUNT(token) FROM token WHERE id=#{id}
    </select>

    <update id="updateToken" parameterType="String">
        UPDATE token SET token={newToken} WHERE id=#{id}
    </update>

    <insert id="addToken" parameterType="com.example.runWith.domain.TokenDomain">
        INSERT INTO token (id, token) VALUES (#{id}, #{newToken})
    </insert>

    <select id="findToken" resultType="String">
        select token FROM token WHERE id=#{id}
    </select>
</mapper>