<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.runWith.mapper.TokenMapper">
    <select id="countId" resultType="int">
        SELECT COUNT(token) FROM token WHERE id=#{id}
    </select>
    <select id="countToken" resultType="int">
        SELECT COUNT(token) FROM token WHERE token=#{token}
    </select>


    <insert id="addToken2" parameterType="com.example.runWith.domain.TokenDomain">
        INSERT INTO token (id, token) VALUES (#{id}, #{newToken})
    </insert>

    <update id="updateIdByToken" parameterType="com.example.runWith.domain.TokenDomain">
        UPDATE token SET id=#{id} WHERE token=#{token}
    </update>

    <update id="updateTokenById" parameterType="com.example.runWith.domain.TokenDomain">
        UPDATE token SET token=#{token} WHERE id=#{id}
    </update>

    <insert id="addToken" parameterType="com.example.runWith.domain.TokenDomain">
        INSERT INTO token (token) VALUES (#{newToken})
    </insert>


    <select id="findToken" resultType="String">
        select token FROM token WHERE id=#{id}
    </select>


</mapper>